@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

.search-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-btn i {
  color: #555;
  font-size: 20px;
}