@import url('search-btn.css');
@import url('footer.css');

body {
	margin: 0;
	font-family: sans-serif;
}

header {
	color: black;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    position: relative;
}

h1 {
	/* margin: auto; */
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: 'Times New Roman', Times, serif;
	text-decoration-line: underline;
}

.subscribe-link {
	color: grey;
}

.search-icon {
	color: #fff;
	font-size: 24px;
}

.search-icon:hover {
	cursor: pointer;
}

main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 20px;
	padding: 20px;
}

section {
	background-color: white;
	border: 5px solid rgb(230 230 230);
	padding: 20px;
}

section:hover {
	border: 1px solid rgb(230 230 230);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	padding: 24px;
}

section a {
	text-decoration: none;
	color: #000;
}

section .world {
	color: rgb(30 129 254);
}
section .design {
	color: rgb(43 169 71);
}

section h2 {
	margin: 0 0 0 0;
	font-size: 24px;
	font-family: 'Times New Roman', Times, serif;
}

section h4 {
	margin: 0 0 10px 0;
}

section .date {
	margin: 0 0 8px 0;
	color: #999;
}

section p {
	margin: 0;
	margin-bottom: 10px;
}

section .continue-reading {
	text-decoration: underline;
	margin: 0 0 0 0;
	color: rgb(61 140 255);
}
