/* Styling for the buttons */
.button {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 50px;
    border: 2px solid #ccc;
    color: #ccc;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}
  
/* Styling for the buttons on hover */
.button:hover {
    color: #007bff;
    border-color: #007bff;
    text-decoration: none;
}
  
/* Styling for the container that holds the buttons */
.button-container {
    text-align: left;
    max-width: 1200px;
	  margin: 0 auto;
    padding-top: 4%;
    padding-bottom: 4%;
}
  